.about-section-left {
  width: 30%;
  position: absolute;
  padding-top: 45%;
  font-size: 1vw;
  left: 12%;
  color: #666666;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
}
.about-title {
  font-family: Poppins, sans-serif;
}
.about-bold-desc {
  font-weight: 600;
}
.year {
  display: flex;
  gap: 10px;
  color: #383838;
}
.year-no {
  margin-top: -10%;
  font-size: 3vw;
  font-family: Poppins, sans-serif;
}
.year-text {
  font-size: 1.7em;
  padding-top: 10%;
  font-family: Poppins, sans-serif;
}

/*------------------right section------------------------*/

.about-section-right {
  width: 30%;
  position: absolute;
  padding-top: 45%;
  font-size: 1vw;
  left: 52%;
  font-family: Poppins, sans-serif;
  color: #383838;
  z-index: 1;
}
.pop-button {
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: rgb(52, 52, 52);
  color: white;
  cursor: pointer;
  font-size: 1vw;
}
.about-section-right h2 {
  font-size: 1.5vw;
}
.about-section-right p {
  font-size: 1vw;
  font-family: PT sans, sans-serif;
  margin-top: -20px;
}
.contact-mail {
  padding-top: 20px;
  font-size: 1.3vw;
}

@media screen and (max-width: 660px) {
  .about-section-left {
    position: relative;
    width: 85%;
    padding-top: 20px;
    font-size: 15px;
    left: 0%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .year-no {
    margin-top: -10%;
    font-size: 24px;
    font-family: Poppins, sans-serif;
  }
  .year-text {
    font-size: 15px;
    padding-top: 3%;
    padding-left: 10px;
    font-family: Poppins, sans-serif;
  }
  .about-section-right {
    position: relative;
    width: 85%;
    padding-top: 0px;
    left: 0%;
    margin-left: 25px;
    margin-right: 25px;
    font-family: Poppins, sans-serif;
    z-index: 1;
  }
  .about-section-right h2 {
    font-size: 20px;
  }
  .contact-mail {
    padding-top: 0px;
  }
  .pop-button {
    padding: 20px;
    border-radius: 30px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }
}
