.company-section-left {
  width: 30%;
  position: absolute;
  padding-top: 77%;
  font-size: 1vw;
  left: 12%;
  font-family: Roboto, sans-serif;
}
.company-section-left img {
  width: 85%;
  left: 25%;
}
.company-view {
  font-family: Roboto, sans-serif;
  font-size: 1vw;
  padding-left: 56%;
}
.company-view a {
  text-decoration: none;
  color: black;
}
.company-section-right {
  width: 25%;
  position: absolute;
  padding-top: 81%;
  font-size: 1vw;
  left: 52%;
  font-family: Roboto, sans-serif;
}
.company-desc-bold {
  font-weight: 600;
}
.company-desc-bold-2 {
  font-weight: 600;
}
.contact-link-2 {
  text-decoration: none;
  color: #0f74b9;
}
