.footer {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-footer-text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin-left: 25px;
}
.right-footer-text {
  margin-right: 25px;
  display: grid;
  display: flex;
  align-self: center;
  grid-gap: 10px;
}
.right-footer-text i {
  font-size: 15px;
  color: black;
}

@media screen and (max-width: 660px) {
  .footer {
    flex-direction: column;
  }
  .left-footer-text {
    text-align: center;
    margin-right: 25px;
  }
  .right-footer-text {
    text-align: center;
    margin-left: 25px;
  }
}
