@font-face {
  font-family: "Lovtony Script";
  font-style: normal;
  font-weight: normal;
  src: local("Lovtony Script"),
    url(../fonts/Lovtony\ Script.woff) format("woff");
}
.home-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.img-center {
  width: 100%;
}
.img-center img {
  position: absolute;
  width: 40%;
  left: 25%;
}

.name {
  position: absolute;
  font-family: Lovtony Script;
  font-weight: 500;
  font-size: 7vw;
  top: 4%;
  left: 12%;
  z-index: -1;
  color: #3a3a3a;
}

.text-right {
  position: absolute;
  padding-top: 16%;
  left: 65%;
  font-family: Gill Sans MT, GillSans-Light, Gill Sans Light, sans-serif;
  font-weight: 400;
  margin-right: 100px;
  color: #666666;
  z-index: 2;
}
.title {
  font-family: Poppins, sans-serif;
}
.text-right p {
  font-size: 1vw;
}
.bold-desc {
  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 4px;
  padding-top: 10px;
  position: absolute;
}
.social-icons i {
  font-size: 1.5vw;
}
.social-icons a {
  text-decoration: none;
  color: #3a3a3a;
}
.contact-link {
  text-decoration: none;
  color: black;
}
.contact-link {
  color: #666666;
}

@media screen and (max-width: 660px) {
  .home-container {
    flex-direction: column;
  }
  .name {
    position: absolute;
    font-size: 40px;
    left: 22%;
    right: 25%;
    top: 0%;
    margin-left: 25px;
    z-index: 1;
  }
  .img-center img {
    position: relative;
    width: 70%;
    left: 0%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .text-right {
    position: relative;
    left: 0%;
    padding-top: 0%;
    margin-right: 25px;
    margin-left: 25px;
    z-index: 2;
  }
  .text-right p {
    font-size: 15px;
  }
  .social-icons {
    position: relative;
    gap: 10px;
  }
  .social-icons i {
    display: flex;
    font-size: 24px;
  }
}
